<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{if !empty($pageInfo['title'])}{$pageInfo['title']} | {/if}Ipsos</title>
    {* @info Samozrejme idealne nacitat z vlastniho serveru a idealne napr. pres bundleFu https://github.com/dotsunited/BundleFu *}
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" />

    <script src="/libs/nette/nette.ajax.js"></script>
    <script src="/libs/nette/nette.ajax/extensions/spinner.ajax.js"></script>
    <script src="/libs/nette/history.ajax.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/contributte/live-form-validation@master/live-form-validation.js"></script>
    <script src="/js/base.js"></script>
</head>
<body class="bg-blue-500 pt-32 pb-8">

    {* Top header / usebar *}
	<div class="p-4 flex justify-between items-center bg-white fixed w-full top-0">
        <div n:snippet="Menu">
		    <a class="text-xl text-black {if $presenter->getName() == 'Homepage'}text-primary{/if}" n:href="Homepage:">Home</a>
            <a class="ml-3 text-xl text-black {if $presenter->getName() == 'Contact'}text-primary{/if}" n:href="Contact:">Contact</a>
            <a class="ml-3 text-xl text-black {if $presenter->getName() == 'Info'}text-primary{/if}" n:href="Info:">Info (private)</a>
        </div>
        <div n:snippet="Userbar">
            <span n:if="!$user->isLoggedIn()">
                <a n:href="Sign:" class="text-black hover:underline">Přihlásit se</a>
            </span>
            <span n:if="$user->isLoggedIn()">
                <span class="text-center">
                    {$user->getIdentity()->name} {$user->getIdentity()->surname} [{implode(',', $user->getRoles())}],
                    <a n:href="Sign:out" class="text-black hover:underline">Odhlásit se</a>
                </span>
            </span>

            <span class="ml-3 mr-3">/</span>

            <span class="langs">
                <a n:foreach="$allowedLanguages as $lang" href="{link switchLang! lang=>$lang}">{$lang}</a>
            </span>
        </div>
	</div>

    {* Main block *}
    <div class="container-fluid">

        {* Flash messages *}
        <div n:snippet="FlashMessages" class="flex flex-col items-end fixed top-20 w-full z-10 right-3">
            {include './_shared/flashMessages.latte'}
        </div>

        {* Main content *}
        <div n:snippet="Content">
            {include content}
        </div>
    </div>

	{block scripts}

	{/block}
</body>
</html>
