{block content}
<div class="w-3/4 bg-white rounded p-4 mx-auto">
	<div>
        {include '../_shared/pageH1.latte'}
		<p>Ukázková aplikace je napsána pro fungování na PHP 8 a používá nejnovější Nette.</p>
		<p>Přihlášení je možné pomocí uživatele <b>ipsos</b> s heslem <b>password</b></p>
	</div>

	<h4 class="text-left text-xl font-bold my-6">Co bude tvým úkolem?</h4>
	<ol class="list-inside list-decimal">
		<li>Vytvořit novou stránku (presenter + šablonu) <b>/contact</b></li>
		<li>
			Na nové stránce vytvořit novou komponentu s kontaktním formulářem a jeho hodnoty po odeslání vypsat do latte
			<ul class="list-inside list-disc pl-4 pb-4">
				<li class="list-none">Inputy:</li>
				<li>Jméno</li>
				<li>Příjmení</li>
				<li>Předmět</li>
				<li>Text zprávy</li>
			</ul>
		</li>
		<li>Po odeslání formuláře zobrazit flashmessage</li>
		<li>Přidat translator a udělat cz/en překlady pro inputy ve formuláři (překlady uložené v NEON souboru)</li>
		<li>Vytvořit další novou stránku /info kam bude moci jen přihlášený uživatel (obsah stránky není potřeba)</li>
		<li>Přepínání jazykových mutací pomocí signálů (handlů). Jazyk uživatele uchovávat v route, nebo session</li>
		<li>Zaregistrovat službu do configu. Služba by měla logovat přihlášení a pokusy o přihlášení do souboru do složky log</li>
		<li>Pokud se přihlásíme za uživatele "ipsos" tak do formuláře předvyplnit jméno uživatele</li>
		<li>Udělat formulář ajaxový například pomocí <a href="https://componette.org/vojtech-dobes/nette.ajax.js/" target="_blank" class="text-underline text-blue-500">nette.ajax.js</a>, <a href="https://naja.js.org/" target="_blank" class="text-underline text-blue-500">Naja</a>, <a href="https://www.nittro.org/" class="text-underline text-blue-500">Nittro</a></li>
	</ol>
	<h4 class="text-left text-xl font-bold my-6">Bonusový úkol</h4>
	<ul class="list-inside list-disc">
		<li>Rozběhnout aplikaci v Dockeru</li>
	</ul>
</div>
