<form n:name="contactForm" class="ajax">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {label name, class=>'form-label'}
                {input name, class=>'form-control'}
                {* @info Pripadne takto, ale myslim, ze na globalni vykreslovani formularu by bylo dobre nasadit nejaky vlastni renderer (napr. Bootstrap)
                 aby se nemusely vsude vyplnovat ty tridy :) )
                <label n:name="name" class="form-label"></label>
                <input n:name="name" class="form-control" />
                *}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {label surname, class=>'form-label'}
                {input surname, class=>'form-control'}
            </div>
        </div>
    </div>

    <div class="form-group mt-2">
        {label subject, class=>'form-label'}
        {input subject, class=>'form-control'}
    </div>

    <div class="form-group mt-2">
        {label message, class=>'form-label'}
        {input message, class=>'form-control'}
    </div>

    <div class="form-btns text-right mt-4">
        {input submit class=>'btn btn-primary'}
    </div>
</form>