{block content}

<div class="w-1/4 bg-white rounded p-4 mx-auto">

    {include '../_shared/pageH1.latte'}

    <div class="ajax-wrapper">

        {* Contact form component *}
        {control contactForm}

        {* Show form data after form submit *}
        <p n:if="!empty($formData)">
            <span n:foreach="$formData as $formElIndex => $formElVal">
                {$formElIndex}: {$formElVal}
                <br n:if="!$iterator->isLast()" />
            </span>
        </p>
    </div>
</div>
