{block content}

<div class="bg-white rounded w-1/4 p-4 mx-auto max-w-xs">

    {include '../_shared/pageH1.latte'}

    <div class="ajax-wrapper">
        {form signForm, class=>'ajax-simulate'}
            <div class="mb-4">
                <div class="form-group">
                    <label class="form-label" for="username">
                        Uživatelské jméno
                    </label>
                    {input username, 'class' => 'form-control', placeholder => "ipsos"}
                </div>
            </div>
            <div class="mb-6">
                <div class="form-group">
                    <label class="form-label" for="password">
                        Heslo
                    </label>
                    {input password, 'class' => 'form-control', placeholder => "******************"}
                </div>
            </div>
            <div class="flex items-center justify-between">
                {input submit, class => 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'}
            </div>
        {/form}
    </div>
</div>
