/* @info Klasicky pouzivam scss, ale pro techto par radku jsem to neresil, nekompiloval */
.ajax-wrapper {
    position: relative;
}

.ajax-spinner {
    position: absolute;
    display: none;
    /*
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8) url('/images/ajax-spinner.svg') center center no-repeat;
    -webkit-background-size: 150px;
    background-size: 150px;
    z-index: 123456;
}