<div
        n:foreach="$flashes as $flash"
        n:class="$flash->type === App\Model\FlashMessage::DANGER
            ? 'bg-red-100 border border-red-400 text-red-700'
            : 'bg-green-100 border border-green-400 text-green-700', 'px-4 py-3 rounded relative w-1/4'"
        role="alert">
    <strong class="font-bold">{$flash->type|firstUpper}</strong>
    <span class="block sm:inline">{$flash->message}</span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3"></span>
</div>
